// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Indie Flower', cursive;
  margin-left: 40px;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}
